<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand active" href="#">BCCI</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/signup']"routerLinkActive="active"><span class="glyphicon glyphicon-user active"></span> Sign Up</a></li>
          <li><a [routerLink]="['/login']" routerLinkActive="active"><span class="glyphicon glyphicon-log-in active"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
    
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

